{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.advertiser_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.advertiser_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'advertiser.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.email'|trans, 'advertiser.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.phone'|trans, 'advertiser.phone') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.name'|trans, 'advertiser.name') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for advertiser in pagination.items %}
                <tr>
                    <td>{{ advertiser.id }}</td>
                    <td>{{ advertiser.email }}</td>
                    <td>{{ advertiser.phone }}</td>
                    <td>{{ advertiser.name }}</td>
                    <td>
                        <a href="{{ url('advertiser_show', {id: advertiser.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}