{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_details'|trans({'%name%': category.name|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_details'|trans({'%name%': category.name|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'label.name'|trans }}</dt>
            <dd>{{ category.name}}</dd>
        </dl>
        <p>
            <a href="{{ url('category_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}

    <h2>{{ 'title.category_advertisements'|trans }}</h2>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'advertisement.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.name'|trans, 'advertisement.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.description'|trans, 'advertisement.description') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.price'|trans, 'advertisement.price') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.location'|trans, 'advertisement.location') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.date'|trans, 'advertisement.date') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'category.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.advertiser'|trans, 'advertiser.email') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for advertisement in pagination.items %}
                <tr>
                    <td>{{ advertisement.id }}</td>
                    <td>{{ advertisement.name }}</td>
                    <td>{{ advertisement.description }}</td>
                    <td>{{ advertisement.price|format_currency('PLN') }}</td>
                    <td>{{ advertisement.location }}</td>
                    <td>{{ advertisement.date|format_date() }}</td>
                    <td>{{ advertisement.category.name }}</td>
                    <td>{{ advertisement.advertiser.email }}</td>
                    <td>
                        <a href="{{ url('advertisement_show', {id: advertisement.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                        <a href="{{ url('advertisement_edit', {id: advertisement.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                        <a href="{{ url('advertisement_delete', {id: advertisement.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}