{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.advertisement_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.advertisement_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'advertisement.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.name'|trans, 'advertisement.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.description'|trans, 'advertisement.description') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.price'|trans, 'advertisement.price') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.location'|trans, 'advertisement.location') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.date'|trans, 'advertisement.date') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'category.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.advertiser'|trans, 'advertiser.email') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for advertisement in pagination.items %}
                <tr>
                    <td>{{ advertisement.id }}</td>
                    <td>{{ advertisement.name }}</td>
                    <td>{{ advertisement.description }}</td>
                    <td>{{ advertisement.price|format_currency('PLN') }}</td>
                    <td>{{ advertisement.location }}</td>
                    <td>{{ advertisement.date|format_date() }}</td>
                    <td>{{ advertisement.category.name }}</td>
                    <td>{{ advertisement.advertiser.email }}</td>
                    {# TODO: Jeśli istnieje advertisement.advertiser.name to też wstawić #}
                    <td>
                        <a href="{{ url('advertisement_show', {id: advertisement.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                        <a href="{{ url('advertisement_edit', {id: advertisement.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                        <a href="{{ url('advertisement_delete', {id: advertisement.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

    <a class="btn btn-outline-primary" href="{{ url('advertisement_create') }}" title="{{ 'action_advertisement_create'|trans }}">
        {{ 'action_advertisement_create'|trans }}
    </a>

{% endblock %}