{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.advertisement_details'|trans({'%id%': advertisement.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.advertisement_details'|trans({'%id%': advertisement.id|default('')}) }}</h1>
    {% if advertisement is defined and advertisement|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ advertisement.id }}</dd>
            <dt>{{ 'label.name'|trans }}</dt>
            <dd>{{ advertisement.name}}</dd>
            <dt>{{ 'label.description'|trans }}</dt>
            <dd>{{ advertisement.description }}</dd>
            <dt>{{ 'label.price'|trans }}</dt>
            <dd>{{ advertisement.price }}</dd>
            <dt>{{ 'label.location'|trans }}</dt>
            <dd>{{ advertisement.location }}</dd>
            <dt>{{ 'label.date'|trans }}</dt>
            <dd>{{ advertisement.date|format_date() }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{ advertisement.category.name }}</dd>
            <dt>{{ 'label.advertiser'|trans }}</dt>
            <dd>{{ advertisement.advertiser.email }}</dd>
        </dl>
        <p>
            <a href="{{ url('advertisement_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}