<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url('home_index') }}" title="{{ 'title.home'|trans }}">{{ 'title.advertising_service_menu'|trans }}</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ url('advertisement_index') }}" title="{{ 'action.view_advertisement'|trans }}">
                {{ 'action.view_advertisement'|trans }}
            </a>
            <a class="nav-item nav-link" href="{{ url('category_index') }}" title="{{ 'action.view_category'|trans }}">
                {{ 'action.view_category'|trans }}
            </a>
        </div>
    </div>
    <div class="navbar-nav">
    {% if (is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')) %}
        <a class="nav-item nav-link" href="{{ url('user_index') }}" title="{{ 'action.view_user'|trans }}">
            {{ 'action.view_user'|trans }}
        </a>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="nav-item nav-link" href="{{ url('app_logout') }}">{{ 'action.logout'|trans }}</a>
    {% else %}
        <a class="nav-item nav-link" href="{{ url('app_login') }}">{{ 'action.login'|trans }}</a>
    {% endif %}
    </div>
</nav>
