{#{% extends 'base.html.twig' %}#}

{% block body %}
    <div>
        <a href="{{ url('advertisement_index') }}" title="{{ 'action.view_advertisement'|trans }}">
            {{ 'action.view_advertisement'|trans }}
        </a>
        <a href="{{ url('category_index') }}" title="{{ 'action.view_category'|trans }}">
            {{ 'action.view_category'|trans }}
        </a>
        <a href="{{ url('advertiser_index') }}" title="{{ 'action.view_advertiser'|trans }}">
            {{ 'action.view_advertiser'|trans }}
        </a>
    </div>
    <div>
        {% if (is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')) %}
            <a href="{{ url('user_index') }}" title="{{ 'action.view_usert'|trans }}">
                {{ 'action.view_user'|trans }}
            </a>
        {% endif %}
    </div>
{% endblock %}
