{#{% extends 'base.html.twig' %}#}

{% block body %}
    <div>
        <a href="{{ url('advertisement_index') }}" title="{{ 'action.view_advertisement'|trans }}">
            {{ 'action.view_advertisement'|trans }}
        </a>
        <a href="{{ url('category_index') }}" title="{{ 'action.view_category'|trans }}">
            {{ 'action.view_category'|trans }}
        </a>
        <a href="{{ url('advertiser_index') }}" title="{{ 'action.view_advertiser'|trans }}">
            {{ 'action.view_advertiser'|trans }}
        </a>
    </div>
{% endblock %}
